@import 'variables';

@mixin marginTop ($number: 1) {
	margin-top: $lineHeight*($number);
}

@mixin marginBottom ($number: 1) {
	margin-bottom: $lineHeight*($number);
}

@mixin margin ($top: 1, $bottom: 1) {
  @include marginTop($top);
  @include marginBottom($bottom);
}

@mixin paddingTop ($number: 1)    {
	padding-top: $lineHeight*($number);
}

@mixin paddingBottom ($number: 1) {
	padding-tottom: $lineHeight*($number);
}

@mixin padding ($top: 1, $bottom: 1) {
  @include paddingTop($top);
  @include paddingBottom($bottom);
}

@mixin fontSize ($font: 13, $line: 1, $weight:null) {
  font-size: ($font/$fontSizeValue)+em;         /* $font % 13 */
  line-height: (($lineHeightValue*($line))/$font)+em;/* (20*$line) % $font */
  @if $weight != null {
    font-weight: $weight;
  }
}

@mixin control {
  border: none;
  border-radius: 4px;
}

@mixin inputText {
  @include control;
  background: #fff;
  padding: 8px 12px;
  @include fontSize(18, 1);
}

@mixin btn {
  @include control;
  padding: 10px 15px;
  @include fontSize(18, 1, 100);
  min-width: 150px;
}

@mixin btnGreen {
    @include btn;
    color: white;
    background: #81bf4f;
    border-bottom: 3px solid #5f8c3a; 
}

@mixin animateInOut{
      .ng-enter, .ng-leave { 
        -webkit-transition: left 300ms ease-out;
        -moz-transition: left 300ms ease-out;
        -ms-transition: left 300ms ease-out;
        -o-transition: left 300ms ease-out;
        transition: left 300ms ease-out;
    } 
   
    .ng-enter {left: 100%;}
    .ng-enter.ng-enter-active {left: 0;}
   
    .ng-leave {left: 0;}
    .ng-leave.ng-leave-active {left: -100%;}
}