@font-face {
    font-family: 'nasty-icons';
    src: url('/assets/fonts/nasty-icons.eot');
    src: url('/assets/fonts/nasty-icons.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/nasty-icons.woff') format('woff'),
         url('/assets/fonts/nasty-icons.ttf') format('truetype'),
         url('/assets/fonts/nasty-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/RobotoCondensed-Regular.eot');
    src: url('/assets/fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/RobotoCondensed-Regular.woff') format('woff'),
         url('/assets/fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}