// Base sizes
$fontSizeValue:   16;
$fontSize:      $fontSizeValue*1px;
$lineHeightValue:   24;
$lineHeight:    $lineHeightValue*1px;

$headerHeight: 46px;
$mainHeaderHeight: 50px;
$contentMaxWidth: 500px;

// Headings
$fontSizeH1:  52;
$fontSizeH2:  34;
$fontSizeH3:  32;
$fontSizeH4:  21;
$fontSizeH5:  20;
$fontSizeH6:  13;