<%= form_for([:admin, @twitter_user]) do |f| %>
  <% if @twitter_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twitter_user.errors.count, "error") %> prohibited this twitter_user from being saved:</h2>

      <ul>
      <% @twitter_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :readonly => !@twitter_user.new_record?,
      :disabled => !@twitter_user.new_record? %>

    <%= f.label :enabled %>
    <%= f.check_box :enabled %>
  </div>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, Category.all.map{|c| [c.name, c.id]}, include_blank: true %>
  </div>

  <div class="actions g-wide--full">
    <%= f.submit %>
  </div>
<% end %>
