<%= link_to 'New twitter_user', new_admin_twitter_user_path, :class => "pull-right button--primary" %>
<%= link_to 'Fetch Data from Twitter', fetch_data_admin_twitter_users_path, :remote => true, :id => "fetch-twitter-data", :class => "pull-right button--primary", :style => "margin-right: 10px;" %>

<%= paginate @twitter_users %>

<table>
  <thead>
    <tr>
      <th colspan="7"><strong>twitter_users</strong> list</th>
    </tr>
  </thead>

  <tbody>
    <% @twitter_users.each do |twitter_user| %>
      <tr>
        <td><%= twitter_user.name %></td>
        <td><%= twitter_user.twitter_images.count %></td>
        <td><%= twitter_user.category.try(:name) %></td>
        <td><%= twitter_user.enabled? ? "Enabled" : "Disabled" %></td>
        <td><%= link_to 'Show', [:admin, twitter_user] %></td>
        <td><%= link_to 'Edit', edit_admin_twitter_user_path(twitter_user) %></td>
        <td><%= link_to 'Destroy', [:admin, twitter_user], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
