<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @twitter_user.name %>
</p>

<%= link_to 'Edit', edit_admin_twitter_user_path(@twitter_user) %> |
<%= link_to 'Back', admin_twitter_users_path %>
