<%= link_to 'Show', [:admin, @tag], :class => "pull-right button--secondary" %>
<%= link_to 'Back', admin_tags_path, :class => "pull-right button--secondary" %>

<h1>Edit <span>tag</span></h1>

<%= render 'form' %>
