<%= link_to 'New Tag', new_admin_tag_path, :class => "pull-right button--primary"%>

<%= paginate @tags %>

<table>
  <thead>
    <tr>
      <th colspan="4"><strong>Tags</strong> list</th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to 'Show', admin_tag_path(tag) %></td>
        <td><%= link_to 'Edit', edit_admin_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', admin_tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
