<%= link_to 'Edit', edit_admin_tag_path(@tag), :class => "pull-right button--primary" %>
<%= link_to 'Back', admin_tags_path, :class => "pull-right button--secondary" %>

<div class="g-medium--full g-wide--full">
	<p id="notice" class="text-center"><%= notice %></p>
</div>

<p class="show-tag">
  Tag: <strong><%= @tag.name %></strong>
</p>
