@import 'extra/mixins';
@import 'extra/normalize';
@import 'extra/nasty-icons';
@import 'extra/fontawesome';
@import 'sections/tagger';
@import 'sections/index';
@import 'sections/ask_email';
@import 'sections/premium';
@import 'sections/register';
@import 'sections/categories';
@import 'sections/collections';
@import 'sections/show_collection';
@import 'sections/tagger_tutorial';
@import 'sections/twitter';

// General styles 

html {
	font-size: $fontSize;
	line-height: $lineHeight;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', Helvetica, Arial, Verdana, Sans-serif;
	margin: 0;
	height: 100%;
	font-size: 16px;
}

.roboto-condensed {
	font-family: 'Roboto Condensed', Helvetica, Arial, Verdana, Sans-serif;
}

h1 {
  @include fontSize($fontSizeH1, 3);
}

@media (min-width:641px) {
	.show-for-small-only {
		display: none !important;
	}
}

a {
	color: white;

	&.btn-green {
		@include btnGreen;
		text-decoration: none;
		cursor: pointer;
	}
}

.middle {
	vertical-align: middle;
}

.nasty-icon {
	font-family: 'nasty-icons';
} 

[fullscreen] {
	@media(min-width:600px){
		display: none;
	}
}

.hide {
	display: none;
}

body {
	background: #000 url('/assets/images/tagger_bg.jpg') repeat;
	
	> #main-content {

		> section {
			color: white;
			box-sizing: border-box;

			#main-header {
				width: 100%;
				text-align: center;
				margin: 0 auto;		
				height: $mainHeaderHeight;

				nav {
					z-index: 1000;
					position: fixed;
					top: 0;
					background: rgba(0,0,0,.4);
					position: relative;
					color: white;
					height: $mainHeaderHeight;
					padding: 1px;
					vertical-align: middle;
					text-align: center;
					box-shadow: 0px 0px 1px #333;
					box-sizing: border-box;

					h1 {
						@include fontSize(30, 2);
						
						a {
							font-family: 'Roboto Condensed', Helvetica, Arial, Verdana, Sans-serif;
							color: white;
							font-weight: bold;
							font-style: italic;
							text-decoration: none;
						
						span {color: #e63296;}	
						
						}
					}
				}
			}

			header.actions-bar {
				height: $headerHeight; 
		        background: black;
		        
		        nav {
		        	background: rgba(0, 0, 0, .7);
		        	z-index: 200;
		        	text-shadow: 2px 0px 4px #000;
		        	position: fixed;
		        	top: 0;
		        	width: 100%;
		        	height: $headerHeight;
		            vertical-align: middle;

		            a#home-button {
		            	display: block;
		            	float: left;
		            	z-index: 1000;
		                font-size: 30px;
		                line-height: $headerHeight;
		                color: white;
		                font-weight: bold;
		                font-style: italic;
		                text-decoration: none;
		                margin-left: 10px;
		            
		                span {color: #e63296;}
		            }

		            a#share-twitter-button {
		            	font-size: 26px;
		            	color: #00acee;
		            	cursor: pointer;
		            }

		            a.button {
		            	z-index: 1000;
		            	float: right;
		            	font-size: 20px;
		            	line-height: $headerHeight - 10px;
		            	cursor: pointer;
		            	padding: 5px 10px;
		            	text-decoration: none;
		            }

					p.title {
			            z-index: -100;
			            position: absolute;
			            line-height: $headerHeight;
			            width: 100%;
			            text-align: center;
			            font-size: 22px;
			            text-shadow: rgb(0, 0, 0) 2px 0px 4px;
			        }
		        }
		        

		        @media (max-width: 500px) {
		        	position: absolute;
		            top: -$headerHeight;

		            nav {
		            	background-color: rgba(0, 0, 0, .2);
		            }
		        }
		    }

			> article {

			}
		}

		div.twitter-footer {
			text-align: center;

			a#follow-twitter-button {
				text-shadow: none;
				display: inline-block;
				margin: 10px auto 0 auto;
				padding: 5px 10px;
            	@include fontSize(16, 1);
            	background: #00acee;
            	cursor: pointer;
            	text-align: center;
            	border-radius: 5px;

            	span {
            		color: white;

            		&.text {
            			margin-left: 5px;
            		}
            	}
            }
    	}
	}
}
