// Variables

$lineHeight: 24px;

// General styles

.pull-left {float: left;}
.pull-right {float: right;}

.inline-block {display: inline-block;}

table {
	text-align: left;
	
	th {
		background: white;
		color: #aaa;
		border-bottom: 1px solid #e5e5e5;
		text-align: left;
	}

	tr {


	}

	td {
		background: white;
		color: #aaa;
		border-bottom: 1px solid #e5e5e5;	
	}
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

a {
	.black {
		color: black !important;
		
	}

}

a.none {
	
	&:hover {
		text-decoration: none !important;
	}

}

form {
	margin-top: $lineHeight;
}

// Admin styles
#sp-admin {

	h1 {
		font-weight: bold;
		font-style: italic;
		span {
			color: #e63296;
		}
	}

	aside {

		ol {padding: 0;}

		.list-anchor {
			margin-top: $lineHeight;

			li {padding: 10px 0;}

			i[class^="icon"] {
				vertical-align: middle;
				color: #2895f1;
			}
			
			a::before {content: "";}

			a {
				font-size: 13px;
				padding: 5px 7px 5px 2px;
				line-height: 24px;

				&:hover {
					background: none;
					color: #3d464d;

				}
			}
		}
	}
}

// Alerts

#notice {
	color: #3c763d !important;
	padding: 15px;
	margin-bottom: 20px;
}

// Images

.show-image-container {
	max-width: 500px;
	margin: 0 auto;
}

.show-image {
	max-width: 500px;
	background: white; 
	border: 1px solid #cecece; 
	padding: 3px; 
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.list-image {
	width: 80px;
	background: white; 
	border: 1px solid #cecece; 
	padding: 3px; 
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

td.tags-list {
	padding-bottom: 12px;
	.tag {
		margin: 0 10px;
	}
}

// Tags

.show-tag {
	clear: both;
	
	p {
		font-size: 24px;
		padding-top: 0;
	}
}

// Settings

.show-settings {
	@extend .show-tag; 

	p {
		padding-top: $lineHeight/2;
	}
}

li.tag {
	line-height: 20px;
	font-size: 14px;
	padding: 0;

	::before {
		display: none;
	}
}

/*.selected-tags, .negative-selected-tags {
	width: 250px;
}*/

/*div.tags {
	float: left;
}

div.negative-tags {
	margin-left: 10px;
	float: left;
}

div.tags, div.negative-tags {
	:before, :after {
		content: '';
		clear: both;
	}

	input[type='text']{
		width: 100px;
	}
}*/
