<%= link_to 'Show', admin_question_path(@question), :class => "pull-right button--secondary" %>
<%= link_to 'Back', admin_questions_path, :class => "pull-right button--secondary" %>

<h1>Edit <span>question</span></h1>

<%= render 'form' %>
