<%= link_to 'New Question', new_admin_question_path, :class => "pull-right button--primary" %>

<%= paginate @questions %>

<table>
  <thead>
    <tr>      
      <th colspan="5"><strong>Questions</strong> list</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.text %></td>
        <td><%= question.tag.name %></td>
        <td><%= question.enabled ? "enabled" : "disabled" %></td>
        <td><%= link_to 'Show', admin_question_path(question) %></td>
        <td><%= link_to 'Edit', edit_admin_question_path(question) %></td>
        <td><%= link_to 'Destroy', admin_question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
