<%= link_to 'Edit', edit_admin_question_path(@question), :class => "pull-right button--primary"%>
<%= link_to 'Back', admin_questions_path, :class => "pull-right button--secondary" %>

<div class="g-medium--full g-wide--full">
	<p id="notice" class="text-center"><%= notice %></p>
</div>

<p>Text: <strong><%= @question.text %></strong></p>
<p>Tag: <strong><%= @question.tag.name %></strong></p>
