<%= form_for([:admin, @collection]) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>

    <%= f.label :enabled %>
    <%= f.check_box :enabled %>
  </div>

  <p>Tags selected:</p>
  <ul class="selected-tags">
    <% @collection.tag_ids.each do |tag_id| %>
      <li class="tag" data-tag-id="<%= tag_id %>">
        <%= Tag.where(:id => tag_id).first.try(:name) %>
        <%= link_to "x", "#", :class => "remove-tag" %>
        <%= hidden_field_tag :"collection[tag_ids][]", tag_id, :id => "collection_tag_ids_#{tag_id}" %>
      </li>
    <% end %>
  </ul>

  <p>Negative tags selected:</p>
  <ul class="negative-selected-tags">
    <% @collection.negative_tag_ids.each do |tag_id| %>
      <li class="tag" data-tag-id="<%= tag_id %>">
        <%= Tag.where(:id => tag_id).first.try(:name) %>
        <%= link_to "x", "#", :class => "remove-tag" %>
        <%= hidden_field_tag :"collection[negative_tag_ids][]", tag_id, :id => "collection_negative_tag_ids_#{tag_id}" %>
      </li>
    <% end %>
  </ul>


  <div class="tags g--half">
    <%= label_tag "Search tags" %><br />
    <%= text_field_tag :"tags-filter" %>
    <ul class="filtered-tags"></ul>
  </div>

  <div class="negative-tags g--half g--last">
    <%= label_tag "Search negative tags" %><br />
    <%= text_field_tag :"negative-tags-filter" %>
    <ul class="filtered-tags"></ul>
  </div>

  <div class="actions g-wide--full">
    <%= f.submit %>
  </div>
<% end %>
