<%= link_to 'New Collection', new_admin_collection_path, :class => "pull-right button--primary" %>

<%= paginate @collections %>

<table>
  <thead>
    <tr>
      <th colspan="5"><strong>Collections</strong> list</th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.name %></td>
        <td><%= collection.images.count %></td>
        <td><%= collection.enabled? ? "Enabled" : "Disabled" %></td>
        <td><%= link_to 'Show', [:admin, collection] %></td>
        <td><%= link_to 'Edit', edit_admin_collection_path(collection) %></td>
        <td><%= link_to 'Destroy', [:admin, collection], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
