<%= link_to 'Show', [:admin, @setting], :class => "pull-right button--secondary" %>
<%= link_to 'Back', admin_settings_path, :class => "pull-right button--secondary" %>

<h1>Edit <span>setting</span></h1>

<%= render 'form' %>
