<%= link_to 'New Setting', new_admin_setting_path, :class => "pull-right button--primary" %>

<%= paginate @settings %>

<table>
  <thead>
    <tr>
      <th colspan="5"><strong>Settings</strong> list</th>
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= truncate(strip_tags(setting.name), :length => 20) %></td>
        <td><%= truncate(strip_tags(setting.value), :length => 50) %></td>
        <td><%= link_to 'Show', admin_setting_path(setting) %></td>
        <td><%= link_to 'Edit', edit_admin_setting_path(setting) %></td>
        <td><%= link_to 'Destroy', admin_setting_path(setting), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
