<%= link_to 'Edit', edit_admin_setting_path(@setting), :class => "pull-right button--primary" %>
<%= link_to 'Back', admin_settings_path, :class => "pull-right button--secondary" %>

<div class="g-medium--full g-wide--full">
	<p id="notice" class="text-center"><%= notice %></p>
</div>

<div class="show-settings">
	<p>Name: <strong><%= @setting.name %></strong></p>
	<p>Value:</p>
	<p class="huge"><%= @setting.value %></p>
</div>