<%= form_for([:admin, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <% if @category.twitter_users.count > 0 %>
  Twitter Accounts associated
  <ul>
    <% @category.twitter_users.each do |twitter_user| %>
      <li><%= twitter_user.name %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="actions g-wide--full">
    <%= f.submit %>
  </div>
<% end %>
