<%= link_to 'New Category', new_admin_category_path, :class => "pull-right button--primary" %>

<%= paginate @categories %>

<table>
  <thead>
    <tr>
      <th colspan="5"><strong>Categories</strong> list</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.twitter_users.count %></td>
        <td><%= link_to 'Show', [:admin, category] %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Destroy', [:admin, category], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
