<%= form_for([:admin, @image], :html=> {:multipart=>true}) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this admin_image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= file_field_tag :"image[image_data_attributes][raw_data]" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
