<%= link_to 'Show', [:admin, @image], :class => "pull-right button--secondary" %>
<%= link_to 'Back', admin_images_path, :class => "pull-right button--secondary" %>

<h1>Edit <span>image</span></h1>

<%= render 'form' %>
