<%= link_to 'New Image', new_admin_image_path, :class => "pull-right button--primary" %>

<%= paginate @images %>

<table>
  <thead>
    <tr>
      <th colspan="4"><strong>Images</strong> list</th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image_data_path(image.image_data_id), :class => "list-image" %></td>
        <td><%= link_to 'Show', admin_image_path(image) %></td>
        <td><%= link_to 'Edit', edit_admin_image_path(image) %></td>
        <td><%= link_to 'Destroy', admin_image_path(image), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td colspan="4" class="tags-list">
          <% image.assigned_tag_ids.each do |id| %>
            <span class='tag'>
              <%= Tag.where(:id => id).first.try(:name) %>
              <%= link_to "X", remove_tag_admin_image_path(image, :tag_id => id), :remote => true, :method => :delete, :"data-confirm" => "Are you sure?", :class => "delete" %>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
