<%= link_to 'Edit', edit_admin_image_path(@image), :class => "pull-right button--primary" %> 
<%= link_to 'Back', admin_images_path, :class => "pull-right button--secondary" %>

<div class="g-medium--full g-wide--full">
	<p id="notice" class="text-center"><%= notice %></p>
</div>
<div class="clear"></div>

<div class="show-image-container">
	<%= image_tag image_data_path(@image.image_data_id), :class => "show-image" %>
</div>
