<section id="ask-email">
	<ng-include src="'/partials/main_header.html'"></ng-include>

	<article>
		<p class="title">Many questions answered!</p>
		<center class="icon-container">
			<span class="icon nasty-icon">t</span>
		</center>
		<p>Wow! You're a Master</p>
		<p>Do you like this?</p>
		<p>Register for <b>free</b></p>
		<!-- <p class="small">Upgrade you account and discover new sexy features</p> -->

		<form ng-submit="submit()" validate>
			<input type="email" name="email" ng-model="email" placeholder="Email" required /><br />
			<button type="submit">Register</button>
		</form>

		<p class="not-now-container">
			<a href="#/tagger" class="not-now">Not now, i want continue tagging</a>
		</p>
	</article>

	<br /><br />
	<div class='twitter-footer'><div follow-twitter-button></div></div>
</section>
