<section id="collections">
	<header class="actions-bar">
	    <nav>
	    	<p class="title" ng-bind="category.name"></p>
	        <a ng-href="/#{{header.back}}" id="home-button">S<span>P</span></a>
	        <a
	        	id="share-twitter-button" class="button fa fa-twitter control"
	        	share-twitter-button
	        	share-text="I cannot stop sliding this {{category.name}}, check it out..."
	        	share-url="http://slideporn.com/#/c/{{category.id}}"></a>
	    </nav>
	</header>
	
	<article class="collections-container table">
		<div class="table-row"
			ng-repeat="twitter_user in twitter_users">

			<a
				class="collection table-cell"
				ng-href="#/t/{{twitter_user.name}}"
				style="background-image: url({{twitter_user.image_url}})">

				<p class="name">{{twitter_user.name}}</p>
			</a>
		</div>
	</article>

	<div class='twitter-footer'><div follow-twitter-button></div></div>
</section>