<section id="categories">
	<ng-include src="'/partials/main_header.html'"></ng-include>
	
	<article class="categories-container table">
		<div class="table-row"
			ng-repeat="category in categories">

			<a
				class="category table-cell"
				ng-href="#/c/{{category.id}}"
				style="background-image: url({{category.image_url}})">

				<p class="name">{{category.name}}</p>
			</a>
		</div>
	</article>

	<div class='twitter-footer'><div follow-twitter-button></div></div>
</section>