<section id="collections">
	<ng-include src="'/partials/main_header.html'"></ng-include>
	
	<article class="collections-container table">
		<div class="table-row"
			ng-repeat="twitter_user in twitter_users">

			<a
				class="collection table-cell"
				ng-href="#/t/{{twitter_user.name}}"
				style="background-image: url({{twitter_user.image_url}})">

				<p class="name">{{twitter_user.name}}</p>
			</a>
		</div>
		<!--
		<div class="table-row"
			ng-repeat="collection in collections">

			<a
				class="collection table-cell"
				ng-href="#/collections/{{collection.id}}"
				style="background-image: url({{basePath}}{{collection.image_path}})">

				<p class="name">{{collection.name}}</p>
			</a>
		</div> -->
	</article>

	<!-- <a href="#/tagger/tutorial" class="go-tagger" ng-show="showTagger">
		Wanna watch unlimited pics?<br />
		Help us tagg the system
	</a> -->

	<div class='twitter-footer'><div follow-twitter-button></div></div>
</section>