<section id="index">
	<ng-include src="'partials/main_header.html'"></ng-include>

	<article>
	
		<h1>GIVE YOU FIVE!</h1>
	
		<ul>
			<li><span class="middle nasty-icon">c</span>&nbsp;&nbsp;HD PICS</li>
			<li><span class="middle nasty-icon">p</span>&nbsp;&nbsp;NO ADS</li>
			<li><span class="middle nasty-icon">K</span>&nbsp;&nbsp;WATCH #ANYTHINGPORN DISCREETLY</li>
		</ul>
	
		<a href="#/categories" class="btn-green">BY ENTERING YOU’RE +18</a>
		<div class='twitter-footer'><div follow-twitter-button></div></div>
	
		<div class="rta-label"> 
			<a href="http://www.rtalabel.org/"><img border="0" src="/assets/images/rta.gif"></a>
		</div>
		<p class="disclaimer">
			Disclaimer: All images, unless otherwise noted, were taken from the Internet and are assumed to be in the public domain.  In the event that there is still a problem or error with copyrighted material, the break of the copyright is unintentional and noncommercial and the material will be removed immediately upon presented proof.
		</p>

	</article>

</section>