<section id="premium">
	<ng-include src="'partials/main_header.html'"></ng-include>

	<article>
	
		<h1>FREEMIUM FEATURES</h1>
	
		<ul>
			<li><span class="middle nasty-icon">e</span>&nbsp;&nbsp;YOUR TWITTER PORNSHOW</li>
			<li><span class="middle nasty-icon">v</span>&nbsp;&nbsp;ADDICT YOUR FOLLOWERS</li>
			<li><span class="middle nasty-icon">E</span>&nbsp;&nbsp;RTs &amp; FAVs WAY EASIER</li>
		</ul>
	
		<a
			share-twitter-button
			share-text="Hey @slideporn, I’d like to try your #porn slideshow for free, DM me!"
			ng-click="goPremiumClick()" href="#/" class="btn-green">GET IT FOR FREE NOW</a>
	
	</article>

	<div class='twitter-footer'><div follow-twitter-button></div></div>

</section>