<section id="register">
	<ng-include src="'partials/main_header.html'"></ng-include>

	<article>

		<p><span class="middle nasty-icon">t</span></p>
		
		<p class="big">Wow! You’re a Master<br>
		Do you like this?</p>
	
		<p>Register for <strong>free</strong>, and discover new <strong>sexy features</strong></p>

		<form ng-submit="submit()" validate>
			<input type="email" name="email" ng-model="email" placeholder="Email" required /><br />
			<button type="submit" class="btn-green">REGISTER NOW</button>
		</form>
	
	</article>

	<div class='twitter-footer'><div follow-twitter-button></div></div>

</section>