<section id="show-collection"
	ng-class="{showControls: collection.showControls, stopped: !collection.started}">
	<header class="actions-bar">
	    <nav>
	    	<p class="title" ng-bind="collection.title"></p>
	        <a ng-href="/#{{header.back}}" id="home-button">S<span>P</span></a>
	        <a class="button control" id="toggle-pause"
	        	ng-click="collection.togglePause()">
	        	<span class="fa fa-play action" ng-show="collection.paused"></span>
	        	<span class="fa fa-pause action" ng-show="!collection.paused"></span>
	        </a>
	        <a share-twitter-button
	        id="share-twitter-button" class="button fa fa-twitter control"
	        share-text="Love this {{collection.camelcase_title}} slideshow! More #porn in slideporn.com"></a>
	    </nav>
	</header>

	<!-- 
	<div style="position:absolute; top: 100px;z-index:1000;">
	<div>timeout: {{collection.timeout}}</div>
	<div>paused? {{collection.paused}}</div>
	</div>
	-->

	<div class="images-container" ng-click="collection.toggleControlsVisibility()"
		ng-swipe-disable-mouse
		ng-swipe-right="swipeRight()"
		ng-swipe-left="swipeLeft()">
	
		<article class="image-container"
			ng-animate="{leave: 'leave'}"
			ng-repeat="image in collection.images"
			ng-class="{visible: $index==0}">
				<img ng-src="{{basePath}}{{image.path}}" />
		</article>
	</div>

	<input collection-seeker onfocus="this.blur();" type="range" min="0" max="{{collection.count}}"
		ng-model="collection.currentPosition" class="collection-seeker control" />

</section>
