<section id="tagger">
	<header class="actions-bar">
	    <nav>
	    	<p class="title roboto-condensed">{{tagger.data[0].question.text}}</p>
	        <a ng-href="/#{{header.back}}" id="home-button">S<span>P</span></a>
	        <a
	        	id="share-twitter-button" class="button fa fa-twitter"
	        	share-twitter-button
	        	share-text="YES or NO?! {{tagger.data[0].question.text}} Tagg #porn pictures in"></a>
	    </nav>
	</header>

	<div class="questions-container">
		<article class="question-container" ng-class="{visible: $index==0}"
			ng-animate="{leave: 'leave'}"
			ng-repeat="elem in tagger.data">

			<div class="question-image">
				<img ng-src="{{basePath + elem.image.path}}"/>
			</div>
		</article>
	</div>

	<div class="controls">
		<a class="no" ng-click="vote('no')">
			NO
		</a>
		<a class="yes" ng-click="vote('yes')">
			YES
		</a>
	</div>

</section>