<section id="tagger-tutorial">
	
	<ng-include src="'/partials/main_header.html'"></ng-include>
	
	<article>
		<h1>IT'S SIMPLE!</h1>
		
			<ul>
				<li>When you cannot confirm it, don’t make guesses, push<br><a class="no">NO</a></li>
				<li>If you are totally sure, push<br><a class="yes">YES</a></li>
			</ul>

		<a href="#/tagger" class="btn-green">I got it!</a>
	</article>

	<div class='twitter-footer'><div follow-twitter-button></div></div>
</section>
