<section id="show-collection"
	ng-class="{showControls: collection.showControls, stopped: !collection.started}">
	<header class="actions-bar">
	    <nav>
	    	<p class="title" ng-bind="collection.title"></p>
	        <a ng-href="/#{{header.back}}" id="home-button" class="back" >S<span>P</span></a>
	        <a class="button" id="toggle-pause"
	        	ng-click="collection.togglePause()">
	        	<span class="fa fa-play action" ng-show="collection.paused"></span>
	        	<span class="fa fa-pause action" ng-show="!collection.paused"></span>
	        </a>
	        <a
	        	id="share-twitter-button" class="button fa fa-twitter control"
	        	share-twitter-button
	        	share-text="Love {{collection.title}} slideshow! Check it http://slideporn.com/{{collection.title}} ! #AnythingPorn in "></a>
	    </nav>
	</header>

	<!-- 
	<div style="position:absolute; top: 100px;z-index:1000;">
	<div>timeout: {{collection.timeout}}</div>
	<div>paused? {{collection.paused}}</div>
	</div>
	-->

	<div class="message-container control">
		<div class="message success" ng-show="success">
			<p>{{success}}</p>
		</div>

		<div class="message error" ng-show="error">
			<p>{{error}}</p>
		</div>
	</div>

	<div class="images-container" ng-click="collection.toggleControlsVisibility()"
		ng-swipe-disable-mouse
		ng-swipe-right="swipeRight()"
		ng-swipe-left="swipeLeft()">
	
		<article class="image-container"
			ng-animate="{leave: 'leave'}"
			ng-repeat="image in collection.images"
			ng-class="{visible: $index==0}">
				<img ng-src="{{image.url}}" />
		</article>
	</div>

	<div class="controls control">
		<a class="retweet fa fa-retweet" ng-click="retweet(0)">
			<span>RT</span>
		</a>
		<a class="fav fa fa-star" ng-click="fav(0)">
			<span>Fav</span>
		</a>
		<a class="whatsapp fa fa-whatsapp show-for-small-only" ng-click="whatsapp(0)">
			<span>Whatsapp</span>
		</a>
		<download-image></download-image>
		<!-- <a class="download fa fa-download" ng-click="download(0)">
			<span></span>
		</a> -->
	</div>

	<input collection-seeker onfocus="this.blur();" type="range" min="0" max="{{collection.count}}"
		ng-model="collection.currentPosition" class="collection-seeker control" />

</section>
