<table>
  <thead>
    <tr>
      <th colspan="1"><strong>Users</strong> list</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, "mailto:#{user.email}", :target => "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
