@import '../extra/mixins';

#ask-email {
	color: white;
	text-align: center;
	background: #000 url('/assets/images/ask_email_bg.jpg') no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	min-height: 100%;

	.icon-container {
		@include margin(1);

		.icon {
			@include fontSize(50, 1.5);
		}
	}

	p {
		@include fontSize(18, 1, 100);

		&.title {
			@include fontSize(20, 1);
		}

		&.small {
			@include margin(1);
			@include fontSize(13, 1);
		}

		b {
			font-weight: bold;
		}
	}

	form {
		[type='email'] {
			@include inputText;
		}
		[type='submit'] {
			margin-top: 5px;
			@include btnGreen;
		}
	}

	p.not-now-container {
		@include marginTop(1);

		a.not-now {
			@include fontSize(12, 1);
		}
	}
}