@import '../extra/mixins';
$collectionHeight: 150px;

#collections {
	.table {
		display: table;
		width: 100%;
	}

	.table-row {
		display: table-row;
	}

	.table-cell {
		display: table-cell;
		vertical-align: middle;
	}

	.collections-container {
		max-width: $contentMaxWidth;
		margin: 0 auto;

		.collection {
			position: relative;
			height: $collectionHeight;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			// display: block;
			filter: gray;
			-webkit-filter: grayscale(.75);
			text-decoration: none;
			margin: 5px 0;

			.name {
				// line-height: $collectionHeight;
				width: 100%;
				text-align: center;
				text-shadow: 1px 1px 1px #333;
				font-size: 32px;
			}

			.count {
				font-family: 'Roboto';
				position: absolute;
				right: 10px;
				bottom: 10px;
				text-shadow: 1px 1px 1px #333;
				font-style: italic; 
				font-weight: normal;
				font-size: 16px;

			}
		}
	}

	a.go-tagger {
		text-decoration: none;
		background: url(/assets/images/tagger_image.jpg) no-repeat center center;
		background-size: cover;
		border-bottom: none;
		padding: $collectionHeight / 4 0;
		line-height: $collectionHeight / 4;
		text-shadow: 1px 1px 1px #333;
		margin-top: 20px;
		font-size: 20px;
		display: block;
		text-align: center;
		margin: 20px auto 0 auto;
		max-width: $contentMaxWidth;
	}
}