@import '../extra/mixins';

#index {  
    background: #000 url('/assets/images/index_bg.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100%;
  
    article {
        max-width: 800px;
        margin: 0 auto;
        color: white;
        text-align: center;

        ul {
            list-style-type: none;    
            padding: 0;
            margin: 0;
            font-size: 1.2em;

            li {
                padding: 20px 0; 

                span {
                    font-size: 2em;                
                }
            }
        }
        a {
            color: white;
            text-decoration: none;
            text-shadow: 2px 0 4px #5f8c3a;
            display: inline-block;

            &.btn-green {
                @include btnGreen;
            }
        }
    }

    h1 {
        @include fontSize(35, 2.5);
    }

    .rta-label {
        margin-top: 40px;

        a {
            display: block;
            width: 120px;
            margin: 0 auto;

            img {
                width: 100%;
                height: auto;
                border: 2px solid white;
            }
        }
    }

    p.disclaimer {
        margin: 30px 0 10px 0;
        @include fontSize(14, 1);
    }
}