@import '../extra/mixins';

#premium {  
    background: #000 url('/assets/images/premium_bg.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100%;
  
    article {
        max-width: 800px;
        margin: 0 auto;
        color: white;
        text-align: center;

        ul {
            list-style-type: none;    
            padding: 0;
            margin: 0;
            font-size: 1.2em;

            li {
                padding: 20px 0; 

                span {
                    font-size: 2em;                
                }
            }
        }
        a {
            color: white;
            text-decoration: none;
            text-shadow: 2px 0 4px #5f8c3a;
            display: inline-block;

            &.btn-green {
                @include btnGreen;
            }
        }
    }

    h1 {
        @include fontSize(35, 2.5);
    }
}