@import '../extra/mixins';

#register {  
    background: #000 url('/assets/images/register_bg.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100%;
  
    article {
        max-width: 800px;
        margin: 0 auto;
        color: white;
        text-align: center;
        
        .nasty-icon {
            font-size: 60px;
        }

        ul {
            list-style-type: none;    
            padding: 0;
            margin: 0;
            font-size: 1.2em;

            li {
                padding: 20px 0; 

                span {
                    font-size: 2em;                
                }
            }
        }

        p {        
            margin: 12px 0;

            &.big {
                font-size: 30px;
            }
        }

        form {
            [type='email'] {
                @include inputText;
            }
            [type='submit'] {
                margin-top: 5px;
                @include btnGreen;
            }
        }
    }

    h1 {
        @include fontSize(35, 2.5);
    }
}