@import '../extra/mixins';

#show-collection {
    margin: 0 auto;

    header.actions-bar {
        a#toggle-pause {
        }
    }

	@include animateInOut;

    .images-container {
        position: relative;
        overflow: hidden;
        max-width: $contentMaxWidth;
        margin: 0 auto;

    	.image-container {
    		display: none;
            width: 100%;   

            img {
                text-align: center;
                margin: 0 auto;
                width: 100%;
            }

    		&.visible {display: block;}

            &.ng-leave {
                position: absolute;
                z-index: 100;
            }
        }

        .first-play {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background: rgba(0, 0, 0, .6) url(/assets/images/play.png) no-repeat center center;
            cursor: pointer;
        }
    }

    .collection-seeker {
        position: fixed;
        bottom: 10px;
        width: 90%;
        left: 5%;
        z-index: 1000;
    }
}