@import '../extra/mixins';

#tagger {
    margin: 0 auto;
    position: relative;

    header.actions-bar {
        a#fullscreen-button {
        }
    }

    .questions-container {
        position: relative;
        overflow: hidden;
        max-width: $contentMaxWidth;
        margin: 0 auto;

    	.question-container {
    		display: none;
            width: 100%;

            .question-image {
                    text-align: center;
                    margin: 0 auto;
                    height: 100%;
                    background: black url("/assets/images/tagger_bg.jpg") repeat;

                    img {
                        width: 100%;
                    }
            }

    		&.visible {display: block;}

            &.ng-leave {
                position: absolute;
                z-index: 100;
            }
        }
    }

    .controls {
        font-size: 1.2em;
        text-shadow: 2px 0px 4px #000;
        position: fixed;
        bottom: 0;
        text-align: center;
        color: white;
        z-index: 1000;
        margin: 0 auto;
        width: 100%;

        .yes {
            display: inline-block;
            width: 60px;
            height: 60px;
            line-height: 60px;
            margin: 0 15px 20px 15px;
            border-radius: 100%;
            cursor: pointer;
            background-color: #84ce72;
            box-shadow: 0px 4px 0px #699c4e;
        }

        .no {
            @extend .yes;
            background-color: #f2695a;
            box-shadow: 0px 4px 0px #ba5345;
        }
	}

    .ng-enter, .ng-leave { 
        -webkit-transition: left 300ms ease-out;
        -moz-transition: left 300ms ease-out;
        -ms-transition: left 300ms ease-out;
        -o-transition: left 300ms ease-out;
        transition: left 300ms ease-out;
    } 
   
    .ng-enter {left: 100%;}
    .ng-enter.ng-enter-active {left: 0;}
   
    .ng-leave {left: 0;}
    .ng-leave.ng-leave-active {left: -100%;}
}
