@import '../extra/mixins';

#tagger-tutorial {  
    background: #000 url('/assets/images/tutorial_bg.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100%;
  
    article {
        max-width: 800px;
        margin: 0 auto;
        color: white;
        text-align: center;

        ul {
            list-style-type: none;    
            padding: 0;
            margin: 0;
            font-size: 1.2em;

            li {
                padding: 20px 0; 

                span {
                    font-size: 2em;                
                }
            }
        }
        a {
            color: white;
            text-decoration: none;
            text-shadow: 2px 0 4px #5f8c3a;
            display: inline-block;

            &.btn-green {
                @include btnGreen;
            }
        }
    }

    h1 {
        @include fontSize(35, 2.5);
    }

    .yes {
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        margin: 15px 15px 20px 15px;
        border-radius: 100%;
        cursor: pointer;
        background-color: #84ce72;
        box-shadow: 0px 4px 0px #699c4e;        
    }

	.no {
	    @extend .yes;
	    background-color: #f2695a;
	    box-shadow: 0px 4px 0px #ba5345;
	}
}
