#show-collection {

    .control {
        display: none;
    }

	&.showControls {
		display: block;
        header.actions-bar nav {
            background-color: rgba(0, 0, 0, 0);
        }

        .control {
            display: block;
        }
	}

    /*&.stopped {
        .paused {
            display: none;
        }
    }*/

    .message-container {
        box-sizing: border-box;
        padding: 10px 0;
        position: fixed;
        bottom: 100px;
        width: 100%;
        z-index: 1000;

        .message {
            color: white;
            margin: 10px 20px;

            &.success p {
                background: #7BD2A8;
            }

            &.error p {
                background: #D5473B;
            }

            p {
                border-radius: 20px;
                padding: 10px;
            }
        }
    }

	.controls {
        font-size: 1.2em;
        text-shadow: 2px 0px 4px #000;
        position: fixed;
        bottom: 30px;
        text-align: center;
        color: white;
        z-index: 1000;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 10px;

        .retweet {
            display: inline-block;
            padding: 0px 12px;
            // width: 60px;
            // height: 60px;
            line-height: 40px;
            margin: 0 7px 20px 7px;
            border-radius: 20px;
            cursor: pointer;
            background-color: #84ce72;
            box-shadow: 0px 4px 0px #699c4e;
            font-size: 0.8em;
        }

        .fav {
            margin-left: 0;
            @extend .retweet;
            background-color: #ffac33;
            box-shadow: 0px 4px 0px #cd8a29;
        }

        .whatsapp {
            margin-left: 0;
            @extend .retweet;
            background-color: #64D448;
            box-shadow: 0px 4px 0px #4ba036;
        }

        .download {
            @extend .retweet;
            text-decoration: none;
            background-color: #03a9f4;
            box-shadow: 0px 4px 0px #0277bd;
        }
	}
}