<p>
  <%= form.label :tag_id, "Tag Selected: " %>
  <span class="tag-name"><%= name %></span>
</p>
<%= form.hidden_field :tag_id %>

<div>
  <%= label_tag "Search tags" %>
  <%= text_field_tag :"tags-filter" %>
  <ul id="filtered-tags"></ul>
</div>