<!DOCTYPE html>
<html>
<head>
  <title>Sp</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sp-admin" class="container">

	<%= link_to admin_root_path, :class => "none" do %>
		<h1 class="xlarge black">SLIDE<span>PORN</span></h1>
		<%= link_to "reset all votes for current user", "/admin/reset_all_votes_current_user", :remote => true,
				:data => {:confirm => "Are you sure?"} %><br />
		<%= link_to "reset email current user", "/admin/reset_email_current_user", :remote => true,
				:data => {:confirm => "Are you sure?"} %><br />
	<% end %>
	
	<aside class="g-wide--1 g-medium--half">
		<ol class="list-anchor">
			<li><i class="icon icon-user-input"></i> <%= link_to "Collections", admin_collections_path %></li>
			<li><i class="icon icon-introduction-to-media"></i> <%= link_to "Images", admin_images_path %></li>
			<li><i class="icon icon-lessons"></i> <%= link_to "Tags", admin_tags_path %></li>
			<li><i class="icon icon-question"></i> <%= link_to "Questions", admin_questions_path %></li>
			<li><i class="icon icon-cog"></i> <%= link_to "Settings", admin_settings_path %></li>
			<li><i class="icon icon-hash"></i> <%= link_to "Users", admin_users_path %></li>
			<li><i class="icon icon-hash"></i> <%= link_to "Twitter Users", admin_twitter_users_path %></li>
			<li><i class="icon icon-hash"></i> <%= link_to "Categories", admin_categories_path %></li>
		</ol>
	</aside>

	<section class="g-wide--3 g-wide--last g-medium--half g--last">
		<%= yield %>
	</section>

</div>
</body>
</html>
