<!DOCTYPE html>
<html>
<head>
	<meta property="twitter:card" content="photo" />
	<meta property="twitter:site" content="@SlidePorn" />
	<meta property="twitter:title" content="<%= @title %>" />
	<meta property="twitter:image" content="http://www.slideporn.com/image_datas/<%= @image_data_id %>" />
	<meta property="twitter:url" content="http://www.slideporn.com" />
	<meta property="twitter:domain" content="www.slideporn.com" />
</head>
<body>
	<%= yield %>
</body>
</html>